.selected{
    background-color: rgb(25, 118, 210);
}
*{
    font-family: 'Oswald', sans-serif;
  }
.ticket-row:hover{
    background-color: rgb(25, 118, 210);
    cursor: pointer;
}
/* .pie-list ul{
    display: flex;
    align-items: center;
    flex-direction: column;
}
*/
.pie-list{
    font-size: 1.2rem;
}
.pie-list li{
    font-weight: 800;
    display:"inline-block";
}
.pie-list li::marker{
    color:black;

} 