.selected{
    background-color: rgb(25, 118, 210);
}

.ticket-row:hover{
    background-color: rgb(25, 118, 210);
    cursor: pointer;
}
.pie-list ul{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pie-list li::marker{
    font-size: 3rem;
}